%div{:data => {:role => 'header'}}= t('stations.show.header', :name => @station_data.name)

%div{:data => {:role => 'content'}}

%div{:data => {:role => 'footer'}}= t('stations.show.footer', :name => @station_data.name)
