#map {
  height:100%;
}

.controls {
  top: 165px;
  left: 31px;
  position: fixed;

  .button {
    float: left;
    width: 30px;
    height: 30px;
    margin: 3px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background-color: #efefef;
    @include box-shadow(1px 1px 3px 0px #3d3d3d);
    @include user-select(none);
    @include border-radius(3px);

    &:hover {
      background-color: #b4b4b4;
    }

    &:active, &.active {
      line-height: 31px;
      background-color: #b4b4b4;
      @include box-shadow(inset 1px 1px 3px 0px #3d3d3d);
    }

    .mac &{
      font-size: 14px;
      line-height: 32px;
      &:active, &.active{
        line-height: 34px;

      }
    }
  }


}

.clock {
  position: fixed;

  &.pst {
    top: 10px;
    left: 10px;
  }

  &.est {
    top: 10px;
    right: 10px;
  }

  .text {
    position: absolute;
    text-align: center;
    font-weight: 600;
    color: #17304b;
    font-size: 10px;

    &.daypart {
      top: 42px;
      left: 66px;
    }

    &.date {
      width: 61px;
      top: 52px;
      left: 47px;
    }

    &.timezone {
      top: 97px;
      left: 66px;
      text-transform: uppercase;
    }
  }

  .dot {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #ef9425;
    top: 72px;
    left: 73px;
    z-index: 3;
    position: absolute;
  }

  .hand {
    position: absolute;
    &.minutes {
      top: -27px;
      left: 69px;
      z-index: 2;
    }

    &.hours {
      top: -27px;
      left: 69px;
      z-index: 1;
    }
  }
}

.map-logo{
  position: fixed;
  top: 23px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 500;

  img {
    cursor: pointer;
  }
}


.loading-overlay{
  position: fixed;
  top: 40%;
  left: 43%;
  width: 240px;
  height: 220px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 32px;
  font-color: #444;
  color: #444;
  font-family: $title-font;
  h5{
    margin: 0;
  }
  #floatingCirclesG{
    margin: 5px auto;
  }
  &.error{
    height: 60px;
    line-height: 60px;
    h5{
      color: $error-text-red;
    }
    border: 5px solid $input-border-red;
    #floatingCirclesG{
      display: none;
    }
  }
}

#floatingCirclesG{
  position:relative;
  width:160px;
  height:160px;
  -webkit-transform:scale(0.6);
  -moz-transform:scale(0.6);
  -o-transform:scale(0.6);
  -ms-transform:scale(0.6);
}

.f_circleG{
  position:absolute;
  background-color:#FFFFFF;
  height:29px;
  width:29px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  -webkit-animation-name:f_fadeG;
  -webkit-animation-duration:1.04s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -moz-animation-name:f_fadeG;
  -moz-animation-duration:1.04s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -o-animation-name:f_fadeG;
  -o-animation-duration:1.04s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  -ms-animation-name:f_fadeG;
  -ms-animation-duration:1.04s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
}

#frotateG_01{
  left:0;
  top:65px;
  -webkit-animation-delay:0.39s;
  -moz-animation-delay:0.39s;
  -o-animation-delay:0.39s;
  -ms-animation-delay:0.39s}

#frotateG_02{
  left:19px;
  top:19px;
  -webkit-animation-delay:0.52s;
  -moz-animation-delay:0.52s;
  -o-animation-delay:0.52s;
  -ms-animation-delay:0.52s}

#frotateG_03{
  left:65px;
  top:0;
  -webkit-animation-delay:0.65s;
  -moz-animation-delay:0.65s;
  -o-animation-delay:0.65s;
  -ms-animation-delay:0.65s;
}

#frotateG_04{
  right:19px;
  top:19px;
  -webkit-animation-delay:0.78s;
  -moz-animation-delay:0.78s;
  -o-animation-delay:0.78s;
  -ms-animation-delay:0.78s;
}

#frotateG_05{
  right:0;
  top:65px;
  -webkit-animation-delay:0.91s;
  -moz-animation-delay:0.91s;
  -o-animation-delay:0.91s;
  -ms-animation-delay:0.91s;
}

#frotateG_06{
  right:19px;
  bottom:19px;
  -webkit-animation-delay:1.04s;
  -moz-animation-delay:1.04s;
  -o-animation-delay:1.04s;
  -ms-animation-delay:1.04s;
}

#frotateG_07{
  left:65px;
  bottom:0;
  -webkit-animation-delay:1.17s;
  -moz-animation-delay:1.17s;
  -o-animation-delay:1.17s;
  -ms-animation-delay:1.17s;
}

#frotateG_08{
  left:19px;
  bottom:19px;
  -webkit-animation-delay:1.3s;
  -moz-animation-delay:1.3s;
  -o-animation-delay:1.3s;
  -ms-animation-delay:1.3s;
}

@-webkit-keyframes f_fadeG{
  0%{
    background-color:#000000}

  100%{
    background-color:#FFFFFF}

}

@-moz-keyframes f_fadeG{
  0%{
    background-color:#000000}

  100%{
    background-color:#FFFFFF}

}

@-o-keyframes f_fadeG{
  0%{
    background-color:#000000}

  100%{
    background-color:#FFFFFF}

}

@-ms-keyframes f_fadeG{
  0%{
    background-color:#000000}

  100%{
    background-color:#FFFFFF}

}