/* Theme F
-----------------------------------------------------------------------------------------------------------*/

$telofun: #48ce2a;
$telofun_base: #a2d25c;
$telofun_end: #75d245;

.ui-bar-s {
  border: 1px solid 		$telofun_base /*{a-bar-border}*/;
  background: 			#111 /*{a-bar-background-color}*/;
  color: 					#000 /*{a-bar-color}*/;
  font-weight: bold;
  text-shadow: #fff /*{a-bar-shadow-x}*/ -1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #b8b8b8 /*{a-bar-shadow-color}*/;
  background-image: -webkit-gradient(linear, right top, right bottom, from( $telofun_base /*{a-bar-background-start}*/), to( $telofun_end /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient( $telofun_base /*{a-bar-background-start}*/, $telofun_end /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient( $telofun_base /*{a-bar-background-start}*/, $telofun_end  /*{a-bar-background-end}*/); /* FF3.6 */
  background-image:     -ms-linear-gradient( $telofun_base /*{a-bar-background-start}*/, $telofun_end  /*{a-bar-background-end}*/); /* IE10 */
  background-image:      -o-linear-gradient( $telofun_base /*{a-bar-background-start}*/, $telofun_end  /*{a-bar-background-end}*/); /* Opera 11.10+ */
  background-image:         linear-gradient( $telofun_base /*{a-bar-background-start}*/, $telofun_end  /*{a-bar-background-end}*/);
}
.ui-bar-s,
.ui-bar-s input,
.ui-bar-s select,
.ui-bar-s textarea,
.ui-bar-s button {
  font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-s .ui-link-inherit {
  color: #fff /*{a-bar-color}*/;
}
.ui-bar-s a.ui-link {
  color: #7cc4e7 /*{a-bar-link-color}*/;
  font-weight: bold;
}
.ui-bar-s a.ui-link:visited {
  color: #2489ce /*{a-bar-link-visited}*/;
}
.ui-bar-s a.ui-link:hover {
  color: #2489ce /*{a-bar-link-hover}*/;
}
.ui-bar-s a.ui-link:active {
  color: #2489ce /*{a-bar-link-active}*/;
}
.ui-body-s,
.ui-overlay-s {
  border: 1px solid 		#444 /*{a-body-border}*/;
  background: 			#222 /*{a-body-background-color}*/;
  color: 					#fff /*{a-body-color}*/;
  text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #111 /*{a-body-shadow-color}*/;
  font-weight: normal;
  background-image: -webkit-gradient(linear, right top, right bottom, from( #444 /*{a-body-background-start}*/), to( #222 /*{a-body-background-end}*/)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* FF3.6 */
  background-image:     -ms-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* IE10 */
  background-image:      -o-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* Opera 11.10+ */
  background-image:         linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/);
}
.ui-overlay-s {
  background-image: none;
  border-width: 0;
}
.ui-body-s,
.ui-body-s input,
.ui-body-s select,
.ui-body-s textarea,
.ui-body-s button {
  font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-s .ui-link-inherit {
  color: 	#fff /*{a-body-color}*/;
}
.ui-body-s .ui-link {
  color: #2489ce /*{a-body-link-color}*/;
  font-weight: bold;
}
.ui-body-s .ui-link:visited {
  color: #2489ce /*{a-body-link-visited}*/;
}
.ui-body-s .ui-link:hover {
  color: #2489ce /*{a-body-link-hover}*/;
}
.ui-body-s .ui-link:active {
  color: #2489ce /*{a-body-link-active}*/;
}
.ui-btn-up-s {
  border: 1px solid 		#111 /*{a-bup-border}*/;
  background: 			#333 /*{a-bup-background-color}*/;
  font-weight: bold;
  color: 					#fff /*{a-bup-color}*/;
  text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #111 /*{a-bup-shadow-color}*/;
  background-image: -webkit-gradient(linear, right top, right bottom, from( #444 /*{a-bup-background-start}*/), to( #2d2d2d /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient( #444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient( #444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/); /* FF3.6 */
  background-image:     -ms-linear-gradient( #444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/); /* IE10 */
  background-image:      -o-linear-gradient( #444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/); /* Opera 11.10+ */
  background-image:         linear-gradient( #444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/);
}
.ui-btn-up-s:visited,
.ui-btn-up-s a.ui-link-inherit {
  color: 					#fff /*{a-bup-color}*/;
}
.ui-btn-hover-s {
  border: 1px solid 		#000 /*{a-bhover-border}*/;
  background: 			#444 /*{a-bhover-background-color}*/;
  font-weight: bold;
  color: 					#fff /*{a-bhover-color}*/;
  text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 1px /*{a-bhover-shadow-radius}*/ #111 /*{a-bhover-shadow-color}*/;
  background-image: -webkit-gradient(linear, right top, right bottom, from( #555 /*{a-bhover-background-start}*/), to( #383838 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient( #555 /*{a-bhover-background-start}*/, #383838 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient( #555 /*{a-bhover-background-start}*/, #383838 /*{a-bhover-background-end}*/); /* FF3.6 */
  background-image:     -ms-linear-gradient( #555 /*{a-bhover-background-start}*/, #383838 /*{a-bhover-background-end}*/); /* IE10 */
  background-image:      -o-linear-gradient( #555 /*{a-bhover-background-start}*/, #383838 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
  background-image:         linear-gradient( #555 /*{a-bhover-background-start}*/, #383838 /*{a-bhover-background-end}*/);
}
.ui-btn-hover-s:visited,
.ui-btn-hover-s:hover,
.ui-btn-hover-s a.ui-link-inherit {
  color: 					#fff /*{a-bhover-color}*/;
}
.ui-btn-down-s {
  border: 1px solid 		#000 /*{a-bdown-border}*/;
  background: 			#222 /*{a-bdown-background-color}*/;
  font-weight: bold;
  color: 					#fff /*{a-bdown-color}*/;
  text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 1px /*{a-bdown-shadow-radius}*/ #111 /*{a-bdown-shadow-color}*/;
  background-image: -webkit-gradient(linear, right top, right bottom, from( #202020 /*{a-bdown-background-start}*/), to( #2c2c2c /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/); /* FF3.6 */
  background-image:     -ms-linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/); /* IE10 */
  background-image:      -o-linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/); /* Opera 11.10+ */
  background-image:         linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/);
}
.ui-btn-down-s:visited,
.ui-btn-down-s:hover,
.ui-btn-down-s a.ui-link-inherit {
  color: 					#fff /*{a-bdown-color}*/;
}
.ui-btn-up-s,
.ui-btn-hover-s,
.ui-btn-down-s {
  font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
  text-decoration: none;
}