!= content_for :javascripts do
  - google_maps_api_tag

!= content_for :body_javascripts do
  :javascript
    $(document).ready(function() { google.maps.event.addDomListener(window, 'load', window.Map.show); })

#map_canvas